<ion-header>
	<ion-navbar>
		<ion-title>
			Service work
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	Test service work functions.
	<ion-list>
		<ion-item>
			<button [disabled]='!prompt' (click)='addHome()' ion-button>add to home screen</button>
		</ion-item>
		<ion-item>
			<button (click)='getLoc()' ion-button>get location</button>
		</ion-item>
		<ion-item *ngIf='position'>
			{{position}}
		</ion-item>
		<ion-item>
			<button (click)='takePicture()' ion-button>Take photo</button>
			<input #fileInput type="file" accept="image/*" capture="camera" (change)='changeImage($event)' hidden/>
		</ion-item>
		<ion-item *ngIf='photoBlob'>
			<img [src]='photoBlob' />
		</ion-item>
		<ion-item text-wrap>
			{{userAgent}}<br>
			{{isMob}}
		</ion-item>
		<ion-item>
			console open? {{consoleOpen}}
		</ion-item>
	</ion-list>
</ion-content>